@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');


* {    
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

.site{  
    height: 100%;
    background: url("untitled5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll; 
}

.sitesBar span{
    width: 70vw;
    color: #fff;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sitesBar a{  
    padding: 0.1cm;
    color: #fff;
    text-decoration: none;
}

.sitesBar a:hover{
    text-decoration: underline;
}


.Kevin span{
    height: 10vw;
    width: 40vw;
    color: #fff;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    background: url("Kevin.png");
    padding: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Linus span{
    height: 10vw;
    width: 40vw;
    color: #fff;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    background: url("Linus.png");
    padding: 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Alex span{
    height: 10vw;
    width: 40vw;
    color: #fff;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    background: url("Alex.png");
    padding: 10px;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Kevin span:hover{
    animation-fill-mode: forwards;
    background-color:rgba(19, 18, 18, 0.541)  ;
    padding: 1%;
    background-blend-mode: darken;
}

.Linus span:hover{
    animation-fill-mode: forwards;
    background-color:rgba(19, 18, 18, 0.541)  ;
    padding: 1%;
    background-blend-mode: darken;
}

.Alex span:hover{
    animation-fill-mode: forwards;
    background-color:rgba(19, 18, 18, 0.541)  ;
    padding: 1%;
    background-blend-mode: darken;
}

.Kevin a{
    height:10vw;
    width: 40vw;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(248, 101, 3);
    text-decoration: none;
}

.Linus a{
    height:10vw;
    width: 40vw;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(248, 101, 3);
    text-decoration: none;
}

.Alex a{
    height:10vw;
    width: 40vw;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(248, 101, 3);
    text-decoration: none;
}

.Kevin a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Linus a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Alex a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}